body {
  /* margin: 0; */
  /* padding: 0; */
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: white;
}

.section {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

/* .with-img {
  display: inherit;
  flex-direction: row;
} */

.section:nth-child(even) {
  background-color: white;
  color: black;
}

p {
  width: 430px;
  font-size: large;
}

a {
    text-decoration: none;
    color: white;
}

a:hover h3 {
    color: #36ffff;
}

/* .container {
  height: 200vh;
}

.content {
  margin-bottom: 100vh;
} */

.scroll-item {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.scroll-item.active {
  opacity: 1;
  transform: translateY(0);
}

img {
  max-height: 45vh;
  max-width: 80vw;
}